display: none;
display: inline;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;


margin: auto;
margin-top: ;
font-weight: ;
text-align: left;
text-align: center;

line-height: ;
background: #000;
background: #fff url() 0 0 no-repeat;
