@charset "UTF-8";
/* 文字コードの指定
------------------------------------------------------------*/
/* Google Fonts用のCSSを読み込み
------------------------------------------------------------*/
@import 'https://fonts.googleapis.com/css?family=Abel';
/* font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif; */
.car_header .car_nav .hamburger span:before, .car_header .car_nav .hamburger span:after {
  content: "";
  position: absolute;
}

.car_header .car_nav .hamburger span, .car_header .car_nav .hamburger span:before, .car_header .car_nav .hamburger span:after {
  width: 100%;
  height: 5px;
  background-color: #333333;
  border-radius: 2px;
}

html {
  font-size: 62.5%;
  /* =10px =100% */
}

.car_header {
  position: relative;
  /* .car_inner{
		position: relative;
		padding: 5px 0;
		height: 150px;
		.inner_items{
			display: flex;
			justify-content: space-around;
	
			.inner_item{
				padding: 20px 0;
				display: flex;
				align-items: center;
				a{
					margin: 0 20px;
				}
			}	
		}
	}*/
}

.car_header .car_nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  background-color: #223061;
}

.car_header .car_nav li a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
}

.car_header .car_nav .hamburger {
  top: 20px;
  right: 20px;
  width: 50px;
  height: 30px;
  margin: 30px 10px 10px;
  position: absolute;
}

.car_header .car_nav .hamburger span {
  position: relative;
  display: block;
}

.car_header .car_nav .hamburger span:before {
  top: -15px;
}

.car_header .car_nav .hamburger span:after {
  top: 15px;
}

.car_header .car_nav .hamburger:hover span {
  background-color: transparent;
  /* 仮　の値*/
}

.car_header .car_nav .hamburger:hover span:before {
  transform: rotate(45deg) translate(7px, 9px);
}

.car_header .car_nav .hamburger:hover span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}

/* メイン */
.car_contents .main_mv {
  position: relative;
  width: 100%;
}

.car_contents .car_mv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 200px;
}

.car_contents .car_mv .mv_aqua {
  position: absolute;
  top: 210px;
  width: 40%;
  text-align: right;
}

.car_contents .car_mv .mv_concept {
  position: absolute;
  top: 310px;
  color: #fff;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  letter-spacing: 20px;
  line-height: 50px;
}

.car_contents #environment {
  width: 100%;
  margin-bottom: 150px;
}

.car_contents #environment .main_message {
  margin-bottom: 60px;
  width: 100%;
}

.car_contents #environment .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.car_contents #environment .container .message {
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #223061;
  line-height: 30px;
  margin-bottom: 90px;
}

.car_contents #environment .tsf {
  width: 100%;
  padding: 50px 0;
  /* height: 970px; */
  background-color: #2E77C4;
  font-family: "Hiragino Kaku Gothic ProN";
  font-weight: 4;
}

.car_contents #environment .tsf .title_tsf {
  display: flex;
  flex-direction: row;
  color: #DAEDF4;
  margin: 50px 10px;
}

.car_contents #environment .tsf .title_tsf .main_tsf {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 75px;
}

.car_contents #environment .tsf .title_tsf .sub_tsf {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Hiragino Kaku Gothic ProN";
  line-height: 50px;
}

.car_contents #environment .tsf .title_tsf .sub_tsf .title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.car_contents #environment .tsf .title_tsf .sub_tsf .info {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 30px;
}

.car_contents #environment .tsf .tsfboxies {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.car_contents #environment .tsf .tsfboxies .tsfbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.car_contents #environment .tsf .tsfboxies .tsfbox img {
  width: 80%;
  height: auto;
  margin-bottom: 20px;
}

.car_contents #environment .tsf .tsfboxies .tsfbox img:last-child {
  margin-left: 40px;
}

.car_contents #environment .tsf .tsfboxies .tsfbox p {
  font-size: 15px;
  line-height: 20px;
  width: 60%;
  color: #daedf4;
}

.car_contents #hv {
  width: 100%;
}

.car_contents #hv h1 {
  text-align: center;
  color: #2A92DB;
  font-size: 50px;
}

.car_contents #hv .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.car_contents #hv .container .hv_container {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 30%;
  align-items: center;
  justify-content: center;
}

.car_contents #hv .container .hv_container .hv_s {
  width: 50%;
  height: 100px;
  border: 2px solid #2A92DB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
  margin-bottom: 30px;
}

.car_contents #hv .container .hv_container .hv_s p {
  margin-top: 10px;
  margin-left: 10px;
  color: #2A92DB;
  font-size: 20px;
}

.car_contents #hv .container .hv_container .best {
  width: 100%;
  height: 150px;
  background-color: #2A92DB;
  font-size: 30px;
}

.car_contents #hv .container .hv_container .best p {
  color: #fff;
}

.car_contents #hv .container .hv_container .info_items {
  width: 50%;
  font-size: 20px;
  color: #223061;
}

.car_contents #hv .container .hv_container .info_items_best {
  font-size: 25px;
  color: #2A92DB;
}

.car_contents #hv h2 {
  font-size: 45px;
  color: #223061;
  text-align: center;
  margin: 30px 0;
}

.car_contents #hv .sphv {
  position: relative;
  width: 90%;
  height: 800px;
  background-color: #DAEDF4;
  margin: 0 auto;
  display: flex;
}

.car_contents #hv .sphv .cont {
  height: 40%;
  margin-top: 50px;
  margin-left: 100px;
}

.car_contents #hv .sphv .cont .info {
  list-style: none;
  line-height: 60px;
  color: #2E77C4;
  font-size: 25px;
  font-weight: 600;
}

.car_contents #hv .sphv .hv_car {
  width: 60%;
  position: absolute;
  right: 5px;
  top: 300px;
}

.car_contents #hv .hv_side {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.car_contents #hv .hv_side .side {
  width: 400px;
  height: 100px;
  text-align: center;
  color: #223061;
  font-size: 20px;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-weight: 700;
  margin: 40px;
}

.car_contents #hv .hv_side .side p {
  margin: auto 0;
}

.car_contents #feature {
  width: 100%;
}

.car_contents #feature h1 {
  text-align: center;
  color: #2A92DB;
  font-size: 100px;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  margin: 100px 0;
}

.car_contents #feature .feature {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 30px auto;
}

.car_contents #feature .feature .f_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  height: 500px;
  font-family: "Hiragino Kaku Gothic ProN";
}

.car_contents #feature .feature .f_items .radi {
  background: linear-gradient(top, #2A92DB, #3B96A8);
  background: linear-gradient(to bottom, #2A92DB, #3B96A8);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
  position: relative;
  box-shadow: 0px 9px 3px -3px rgba(0, 0, 0, 0.6);
}

.car_contents #feature .feature .f_items .radi p {
  display: inline-block;
  position: absolute;
  width: 100%;
  top: 80px;
  color: #fff;
  font-size: 65px;
  text-align: center;
}

.car_contents #feature .feature .f_items .radi p .run {
  font-size: 70px;
}

.car_contents #feature .feature .f_items .low p {
  margin-top: 40px;
}

.car_contents #feature .feature .f_items .me p {
  font-size: 55px;
  margin-top: 20px;
}

.car_contents #feature .feature .f_items .style_hv {
  width: 80%;
  font-weight: 500;
  line-height: 35px;
  font-size: 26px;
  color: #223061;
}

.car_contents .menu {
  width: 100%;
  height: 250px;
  background-image: url(../image/sea.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.car_contents .menu .button {
  background-color: #223061;
  color: #DAEDF4;
  font-size: 30px;
  text-decoration: none;
  border-radius: 30px;
  height: 100px;
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  margin: 0 30px;
}

.car_contents .menu .button .icon {
  padding: 10px;
}

.car_contents #aqua h1 {
  color: #3B96A8;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-size: 100px;
  text-align: center;
  margin: 100px 0;
}

.car_contents #aqua .aqua_goal {
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-size: 30px;
  color: #223061;
  letter-spacing: 10px;
  line-height: 30px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 50px;
}

.car_contents #aqua .view {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.car_contents #aqua .view img {
  margin: 0 auto;
  width: 50%;
  height: 50%;
}

.car_contents #aqua .aqua_items {
  display: flex;
  flex-direction: column;
  margin: 100px 0;
}

.car_contents #aqua .aqua_items .container {
  flex-direction: column;
  display: flex;
  width: 70%;
  height: 300px;
  border: 4px solid #3B96A8;
  margin: 40px auto;
}

.car_contents #aqua .aqua_items .container h2 {
  font-color: #223061;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-size: 45px;
  margin: 20px;
}

.car_contents #aqua .aqua_items .container .box {
  display: flex;
  margin: 0 20px;
}

.car_contents #aqua .aqua_items .container .box .car_img img {
  width: 470px;
}

.car_contents #aqua .aqua_items .container .box .car_info {
  font-size: 25px;
  margin: 0 20px 20px;
  color: #223061;
  text-align: right;
}

.car_contents #aqua .aqua_items .container .box .car_info p {
  padding-bottom: 50px;
}

.car_contents #aqua .aqua_items .container .box .car_info .link {
  text-decoration: none;
  color: #fff;
  background-color: #3B96A8;
  text-align: center;
  padding: 0 40px;
}

.car_contents #aqua .aqua_items .container .box .car_info_left {
  font-size: 25px;
  margin: 0 20px 20px;
  color: #223061;
  text-align: left;
}

.car_contents #aqua .aqua_items .container .box .car_info_left p {
  padding-bottom: 50px;
}

.car_contents #aqua .aqua_items .container .box .car_info_left .link {
  text-decoration: none;
  color: #fff;
  background-color: #3B96A8;
  text-align: center;
  padding: 0 40px;
}

.car_contents #grade {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  color: #223061;
  margin-bottom: 200px;
}

.car_contents #grade h1 {
  color: #3B96A8;
  font-size: 80px;
  text-align: center;
  margin: 100px 0;
}

.car_contents #grade .container {
  display: flex;
  margin: 30px;
  padding: 30px;
}

.car_contents #grade .container .grade_kind {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  margin: 0 auto;
}

.car_contents #grade .container .grade_kind h2 {
  text-align: left;
  align-self: flex-start;
}

.car_contents #grade .container .grade_kind h2 span {
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-size: 20px;
  margin-right: 5px;
}

.car_contents #grade .container .grade_kind .line {
  width: 100%;
  size: 2px;
  border-color: #223061;
  background-color: #223061;
}

.car_contents #grade .container .grade_kind .car_img {
  width: 100%;
  margin-bottom: 30px;
}

.car_contents #grade .container .grade_kind .rich {
  margin-bottom: 75px;
}

.car_contents #grade .container .grade_kind .info {
  margin: 20px 0;
}

.car_contents #grade .container .grade_kind .info span {
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-size: 20px;
}

.car_contents #grade .container .grade_kind .safety {
  display: flex;
  position: relative;
  margin: 0 20px;
}

.car_contents #grade .container .grade_kind .safety p {
  position: absolute;
  left: 40px;
  bottom: 30px;
  color: #fff;
}

.car_contents .message {
  margin: 40px auto;
  color: #223061;
  text-align: center;
  font-size: 30px;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 10px;
  line-height: 49px;
  list-style: none;
}

.car_contents .message li:last-child {
  margin-top: 100px;
}

.car_contents .grade_link {
  display: inline-block;
  margin: 0 100px;
  text-align: center;
  width: 80%;
  padding: 20px 0;
  background-color: #3B96A8;
  color: #fff;
  text-decoration: none;
  font-size: 60px;
  box-shadow: 8px 8px 16px #223061;
}

.car_contents #evaluation {
  color: #fff;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  background-color: #2E77C4;
}

.car_contents #evaluation h1 {
  font-size: 90px;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  color: #fff;
  padding: 100px 0 50px;
}

.car_contents #evaluation .car_line {
  width: 90%;
  background-color: #000;
  border-color: #000;
}

.car_contents #evaluation .container {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.car_contents #evaluation .container .car_eval {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 70px;
}

.car_contents #evaluation .container .car_eval .tukusi {
  padding-bottom: 30px;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-size: 40px;
}

.car_contents #evaluation .container .car_eval .star {
  position: relative;
}

.car_contents #evaluation .container .car_eval .star .star-front {
  width: 90%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #fff;
}

.car_contents #evaluation .container .car_eval .star .star-back {
  color: #2E77C4;
}

.car_contents #evaluation .container .car_eval .futura {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-size: 300px;
}

.car_contents #evaluation .container .car_img {
  width: 70%;
  height: 70%;
}

.car_contents #evaluation h2 {
  font-size: 50px;
  text-align: center;
  margin: 100px 0;
}

.car_contents #evaluation .everyone {
  text-align: center;
  font-size: 35px;
  color: #223061;
  padding: 20px 0;
}

.car_contents #evaluation .everyone p {
  padding: 20px;
}

.car_contents #evaluation .review {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.car_contents #evaluation .review .items {
  width: 80%;
  margin: 50px 20px;
}

.car_contents #tax_redction h1 {
  text-align: center;
  color: #2A92DB;
  font-size: 80px;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  margin: 100px 0;
}

.car_contents #tax_redction .red {
  width: 60%;
  text-align: center;
  color: #2A92DB;
  font-size: 30px;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  margin: 0 auto;
}

.car_contents #tax_redction .taxbox {
  width: 250px;
  background-color: #2A92DB;
  color: #fff;
  font-size: 27px;
  margin: 30px;
}

.car_contents #tax_redction .taxbox .grade {
  margin-bottom: 20px;
  padding: 10px 0;
}

.car_contents #tax_redction .taxbox p {
  background-color: #fff;
  color: #2A92DB;
  font-size: 40px;
  padding: 20px 0;
}

.car_contents #tax_redction .genzei {
  display: flex;
  justify-content: center;
  width: 100%;
}

.car_contents #tax_redction .genzei img {
  width: 70%;
  height: 70%;
}

.car_contents #tax_redction .item {
  text-align: center;
  font-size: 25px;
  color: #223061;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  margin: 50px 0;
}

.car_contents #tax_redction .white {
  width: 100%;
  display: flex;
  align-items: center;
}

.car_contents #tax_redction .white img {
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

.car_contents #tax_redction .item_main {
  text-align: center;
  font-size: 40px;
  color: #223061;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  margin: 100px 0;
}

.car_contents #tax_redction .link {
  text-align: center;
  margin: 100px;
}

.car_contents #tax_redction .link a {
  display: flex;
  width: 600px;
  height: 150px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #2E77C4;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-size: 40px;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 8px 8px 16px #223061;
}

.car_contents footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  background-color: #223061;
}
