/* 文字コードの指定
------------------------------------------------------------*/
@charset "UTF-8";

/* Google Fonts用のCSSを読み込み
------------------------------------------------------------*/
@import 'https://fonts.googleapis.com/css?family=Abel';

/* font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif; */
%hamburger_relative{
	position: relative;
    display: block;
}

%hamburger_absolute{

	content: "";
  	position: absolute;
}

 %hamburger_main{
	width: 100%;
	height: 5px;
	background-color: #333333;
	//時間的変化のアニメーション
	//transition: all 0.5s ease; //0.5秒　推移
	border-radius: 2px;
}


html /* root */
{
    font-size: 62.5%; /* =10px =100% */
}

.car_header{
	position: relative;

	.car_nav{
		display: flex;
		width: 100%;
		height: 100px;
		background-color: #223061;
		.hamburger{
			top: 20px;
			right: 20px;
			width: 50px;
			height: 30px;
			margin: 30px 10px 10px;
			position: absolute;
			span{
				position: relative;
				display: block;
				@extend %hamburger_main;
				&:before{
					@extend %hamburger_absolute;
					@extend %hamburger_main;
					top: -15px;	
				}
				&:after{
					@extend %hamburger_absolute;
					@extend %hamburger_main;
					top: 15px;
				}
			}
			&:hover{
				span{
					background-color: transparent;
					/* 仮　の値*/
					&:before{
						transform: rotate(45deg) translate(7px,9px);
					}
					&:after{
						transform: rotate(-45deg) translate(7px, -8px);
					}
				}

			}
		}
	}
	/* .car_inner{
		position: relative;
		padding: 5px 0;
		height: 150px;
		.inner_items{
			display: flex;
			justify-content: space-around;
	
			.inner_item{
				padding: 20px 0;
				display: flex;
				align-items: center;
				a{
					margin: 0 20px;
				}
			}	
		}
	}*/

}

/* メイン */

.car_contents{
	img{
		position: relative;
		width: 100%;
	}
	.car_mv{

		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-bottom: 200px;
		.mv_aqua{
			position: absolute;
			top: 210px;	
			width: 40%;
			text-align: right;
		}
		.mv_concept{
			position: absolute;
			top:310px;
			color: #fff;
			font-family: fot-tsukuardgothic-std, sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 3.5rem;
			letter-spacing: 20px;
			line-height: 50px;
		}
		
	}
	#environment{
		width: 100%;
		margin-bottom: 150px;
		.main_message{
				margin-bottom: 60px;
				width: 100%;
			}
		.container{
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			
			.message{
				font-family: fot-tsukuardgothic-std, sans-serif;
				font-style: normal;
				font-weight: 700;
				font-size: 30px;
				color: #223061;
				line-height: 30px;
				margin-bottom: 90px;

			}
		}
		.tsf{
			width: 100%;
			padding: 50px 0;
			/* height: 970px; */
			background-color: #2E77C4;
			font-family: "Hiragino Kaku Gothic ProN";
			font-weight: 4;
			.title_tsf{
				display: flex;
				flex-direction: row;
				color: #DAEDF4;
				margin: 50px 10px;
				.main_tsf{
					width: 50%;
					display: flex;
					flex-direction: column;
					font-family: futura-pt, sans-serif;
					font-style: normal;
					font-weight: 500;
					font-size: 75px;

				}
				.sub_tsf{
					width: 50%;
					display: flex;
					flex-direction: column;
					align-items: center;
					font-family: "Hiragino Kaku Gothic ProN";
					line-height: 50px;
					.title{
						font-size: 30px;
						font-weight: 600;
						margin-bottom: 20px;
					}
					.info{
						font-size: 15px;
						letter-spacing: 1px;
						line-height: 30px;
					}
				}
			}
			.tsfboxies{
				margin-top: 30px;
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				.tsfbox{
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 50%;
					img{
						width: 80%;
						height: auto;
						margin-bottom: 20px;
						&:last-child{
							margin-left: 40px;
						} 
					}
					p{
						font-size: 15px;
						line-height: 20px;
						width: 60%;
						color: #daedf4;
					}
					
				}
			}
		}
	}

	#hv{
		width: 100%;
		h1{
			text-align: center;
			color: #2A92DB;
			font-size: 50px;
		}
		.container{
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: center;
			margin-top: 30px;
			.hv_items{
				width: 200px;
				height: 100px;
				font-size: 25px;
				color: #2A92DB;
				border: solid 2px #2A92DB;
				margin-right: 20px;
				.hv_s{
					margin-left: 30px;
					margin-top: 30px;
				}

			} .hv_items_best{ 
				width: 400px; 
				height: 150px; 
				font-size: 30px;
				 color:#fff; 
				 background-color: #2A92DB; 
				 border: solid 2px #2A92DB; 
				 .hv_s{
				 	margin-left: 60px; 
				 	margin-top: 40px; 
				 } 
			} 
		} 
		.hv_info{
			display: flex;
			flex-direction: row;
			justify-content: center;
			.info_items{
				width: 200px;
				height: 100px;


			}

		}
		h2{
			font-size: 45px;
			color: #223061;
			text-align: center;
		}
		.sphv{
			position: relative;
			width: 90%;
			height: 800px;
			background-color: #DAEDF4;
			margin: 0 auto;
			display: flex;
			
			.cont{
				height: 40%;
				margin-top: 50px;
				margin-left: 100px;
				.info{
					list-style: none;
					line-height: 60px;
					color: #2E77C4;
					font-size: 25px;
					font-weight: 600;
					
				}
			}
			.hv_car{
				width: 60%;
				position: absolute;
				right: 5px;
				top: 300px;
			}

		}
		.hv_side{
			height: 500px;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 100px;
			.side{
				width: 400px;
				height: 100px;
				text-align: center;
				color: #223061;
				font-size: 20px;
				font-family: fot-tsukuardgothic-std, sans-serif;
				font-style: normal;
				font-weight: 700;
				p{
					margin: auto 0;
				}
			}
		}
	} 
	#aqua{
		width: 100%;
		h1{
			text-align: center;
			color: #2A92DB;
			font-size: 100px;
			font-family: fot-tsukuardgothic-std, sans-serif;
			font-style: normal;
		}
		.forture{
			width: 80%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: flex-start;
			margin: 30px auto;
			.f_items{
				display: flex;
	   	        flex-direction: column;
   			    align-items: center;
				width: 33%;
				height: 500px;
				font-family: "Hiragino Kaku Gothic ProN";
				
				.radi{
					background: linear-gradient(top, #2A92DB, #3B96A8);
					background: linear-gradient(to bottom, #2A92DB, #3B96A8);
					border-radius: 50%;
					width: 300px;
					height: 300px;
					margin-bottom: 10px;
					position: relative;
					box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.6);
					p{
						display: inline-block;
						position: absolute;
						width:100%;
						top: 80px;
						color: #fff;
						font-size: 65px;
						text-align: center;
						.run{
							font-size: 70px;
						}
					}

				}
				.low{
					p{
						margin-top: 40px;
					}
				}
				.me{
					p{
						font-size: 55px;
						margin-top: 20px;
					}
					
				}

				.style_hv{
					width: 80%;
					font-weight: 500;
					line-height: 35px;
					font-size: 26px;
					color: #223061;
				}
			}
		}
	}

}